$red: rgb(210, 10, 50);
$grey:rgb(97, 97, 97);
$black: rgb(25, 25, 25);
$white: #ffffff;
$m-50: 50px;
$light: 300;
$regular: 400;
$bold: 700;
$font: 'Lato', sans-serif;


$very-small: 0.5rem;
$small: 1.25rem;
$medium-sm: 1.5rem;
$medium: 1.75rem;
$medium-lg: 2rem;
$large: 2.75rem;
